:root {
    --color1: #687864;
    --color2: #31708e;
    --color3: #d9efdd;
    --color4: #c4f4d7;
    --color5: #eefcfe;
    --color6: #ebf5fc;
}

header {
    background-color: var(--color3);
}

body {
    background-color: white;
    font-family: 'Karla', sans-serif;
    color: black;
}
/*https://visme.co/blog/website-color-schemes/*/
/*  #4285f4   5c2018   bc4639   d4a59a    f3e0dc */

.guide {
    /*background-color: var(--color4);*/
    background-color: var(--color6);
}

.guide-menu {
    background-color: var(--color3);
}

.guide-menu:hover {
    background-color: var(--color4);
}

.guide-menu-selected {
    background-color: var(--color6);
}

/*  Looks like we need to set all of these for a... */
a{
    color: black;
    text-decoration: none;
}

a:link {
    color: #515294;
    text-decoration: none;
}

a:visited {
    color: #515294;
    text-decoration: none;
}

a:hover {
    color: #7c7dcc;
    text-decoration: underline;
}

code { /* Eg inline code */
    padding-left: 4px;
    padding-right: 4px;
    background-color: var(--color5);
}

pre > code { /* This affects full code blocks only (not inline) */
    display: block;
    padding: 14px;
    background-color: var(--color5);
}

div {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Karla', sans-serif;
}

/*pre > h2 {*/
    /*font-family: 'Karla', sans-serif;*/
    /*margin-top: 60px; !* To add whitespace in the guide. *!*/
/*}*/

h2 {
    font-family: 'Karla', sans-serif;
    margin-top: 60px; /* To add whitespace in the guide. */
}

h3 {
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

h4 {
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}

p {
    font-family: 'Karla', sans-serif;
}

input {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;
    /* Not sure why I have to specify font info here; not covered by body. */
    font-family: 'Karla', sans-serif;
    font-size: medium;
}

textarea {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid black;
    width: 320px;

    font-family: 'Karla', sans-serif;
    font-size: 14px;
}

select {
    padding: 5px 12px;
    height: 2em;
    margin-left: 30px;
    margin-right: 30px;
}

button {
    cursor: pointer;
    border: none;
    background: #c4ddd2;
    height: 40px;
    width: 200px;
    margin: auto;
    padding: 0;  /* Prevents text from shifting on click. */
    text-align: center;
    color: black;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    border-radius: 4px;
}
